@charset "UTF-8";
/* Шрифты */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
/* Базовая настройка */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #ffff ;
}

* {
  font-family: "Open-Sans", sans-serif;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
  color: #fff;
}
.button_mini {
  width: 131px;
  height: 40px;
  font-size: 14px;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
}
.title_left {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  -moz-text-align-last: left;
       text-align-last: left;
  line-height: 40px;
}

/* Секции */
@media (max-width: 1200px) {
  .promo .promo__wrapper {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }
  .header .header__logo {
    width: 220px;
  }
  .promo .promo__wrapper {
    display: flex;
    align-items: center;
  }
  .advantages .advantages__wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 55px;
  }
  .advantages .advantages__item {
    width: 300px;
  }
  .advantages .advantages__descr {
    margin-top: 10px;
  }
  .advantages .advantages__subtitle {
    margin-top: 10px;
  }
  .title_left {
    color: #fff;
    -moz-text-align-last: center;
         text-align-last: center;
    font-size: 30px;
  }
  .consultation .consultation__descr {
    justify-content: center;
    text-align: center;
  }
  .feed-form {
    margin: 0 auto;
  }
  .catalog .catalog__tabs {
    margin-top: 40px;
  }
  .catalog .catalog__tab {
    width: 180px;
    font-size: 16px;
  }
  .catalog .catalog__content {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .reviews .reviews-item {
    max-width: 730px;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 0 20px;
  }
  .header .header__logo {
    width: 200px;
  }
  .header .header__phone {
    font-size: 16px;
  }
  .header .button {
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background-color: #c70101;
    border: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .promo .promo__wrapper .promo__header {
    font-size: 35px;
  }
  .promo .promo__wrapper .promo__subheader {
    font-size: 20px;
  }
  .title_left {
    color: #fff;
    -moz-text-align-last: center;
         text-align-last: center;
    font-size: 23px;
    line-height: 28px;
  }
  .consultation .consultation__descr {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 23px;
  }
  .carousel {
    padding: 81px 0 82px 0;
  }
  .carousel .carousel__inner {
    width: 350px;
  }
  .catalog .catalog__tabs {
    margin-top: 40px;
  }
  .catalog .catalog__tab {
    width: 150px;
    font-size: 14px;
  }
  .catalog .catalog__content {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .reviews .reviews-item {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .footer .footer__info {
    display: block;
    padding: 50px 68px 60px 68px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 400px;
    background-color: #c70101;
  }
  .footer .footer__addr {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
  }
  .footer .footer__phone {
    color: var(--text-color);
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
  }
  .footer .footer__phone:hover {
    color: var(--text-color);
  }
  .footer .footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .footer .footer__social .footer__social-item {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 688px) {
  .header .header__official {
    display: none;
  }
  .header .header__contacts {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 575px) {
  .header {
    gap: 30px;
  }
  .header .header__logo {
    width: 155px;
  }
  .header .header__phone {
    font-size: 11px;
  }
  .header .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .header .button {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: #c70101;
    border: none;
    color: var(--text-color);
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .promo {
    height: 690px;
  }
  .promo .promo__wrapper {
    align-items: center;
    margin-top: 140px;
  }
  .promo .promo__wrapper .promo__header {
    font-size: 26px;
    font-weight: 900;
  }
  .promo .promo__wrapper .promo__subheader {
    font-size: 13px;
    margin-top: 0px;
  }
  .promo .promo__wrapper .promo__icons {
    display: none;
  }
  .promo .promo__wrapper .button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: #c70101;
    border: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .promo .promo__wrapper .button_main {
    margin-top: 90px;
    width: 250px;
    height: 50px;
    font-size: 16px;
  }
  .advantages .advantages__item {
    width: 300px;
  }
  .advantages .advantages__descr {
    margin-top: 10px;
  }
  .advantages .advantages__subtitle {
    margin-top: 10px;
  }
  .title_left {
    color: #fff;
    -moz-text-align-last: center;
         text-align-last: center;
    font-size: 15px;
    line-height: 20px;
  }
  .consultation .consultation__descr {
    justify-content: center;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
  }
  .consultation .feed-form {
    margin-top: 60px;
    width: 250px;
  }
  .consultation .feed-form input {
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    border: none;
    padding: 0 15px;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
  }
  .consultation .feed-form input:nth-child(3) {
    margin-bottom: 20px;
  }
  .carousel {
    display: none;
  }
  .catalog {
    padding: 30px 0;
  }
  .catalog .catalog__tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }
  .catalog .catalog__tab {
    width: 130px;
    font-size: 12px;
    font-weight: 600;
  }
  .catalog .catalog__content {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .reviews .reviews-item {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 40px;
    border: none;
    text-align: center;
  }
  .reviews .reviews-item img {
    margin: 0 auto;
  }
  .footer .footer__info {
    display: block;
    padding: 20px 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 250px;
    background-color: #c70101;
  }
  .footer .footer__addr {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
  }
  .footer .footer__phone {
    color: var(--text-color);
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
  }
  .footer .footer__phone:hover {
    color: var(--text-color);
  }
  .footer .footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .footer .footer__social .footer__social-item {
    width: 35px;
    height: 35px;
  }
}
.promo {
  min-height: 680px;
  padding: 21px 0 93px 0;
  background: url(../../img/bg.jpg) center center/cover no-repeat;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: var(--text-color);
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  color: var(--text-color);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 65px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}
.promo__link a {
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 21px;
}
.header__official span {
  display: block;
  font-size: 18px;
}
.header__phone {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}
.header__phone:hover {
  color: white;
  text-decoration: none;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.advantages {
  min-height: 473px;
  padding: 70px 0 80px 0;
}
.advantages__wrapper {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 238px;
}
.advantages__subtitle {
  margin-top: 38px;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 600;
}
.advantages__descr {
  margin-top: 26px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../../img/bg2.jpg") center center/cover no-repeat;
}
.consultation__descr {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  border: none;
  padding: 0 15px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.carousel {
  padding: 81px 0 82px 0;
}
.carousel__inner {
  position: relative;
  width: 500px;
  margin: 0 auto;
}
.carousel .slick-prev {
  position: absolute;
  top: 50%;
  left: -66px;
  transform: translateY(-50%);
}
.carousel .slick-next {
  position: absolute;
  right: -66px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}

.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s all;
}
.catalog__tab:hover {
  box-shadow: 3px 3px 20px #c70101;
  border: none;
}
.catalog__tab div {
  transform: skewX(25deg);
}
.catalog__tab_active {
  color: #fff;
  background-color: #c70101;
  border: none;
}
.catalog__content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: none;
}
.catalog__content_active {
  display: flex;
}
.catalog-item {
  width: 300px;
  min-height: 440px;
  border: 2px solid #e8e8ee;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 200px;
}
.catalog-item__subtitle {
  margin-top: 20px;
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.catalog-item__descr {
  margin-top: 16px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}
.catalog-item__link:hover {
  color: #c70101;
}
.catalog-item hr {
  margin-top: 18px;
  margin-bottom: 21px;
  background-color: #e8e8ee;
  height: 2px;
}
.catalog-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-item__old-price {
  color: #555;
  font-weight: 300;
  font-size: 14px;
  text-decoration: line-through;
}
.catalog-item__price {
  color: #050505;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
}
.catalog-item__wrapper {
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  transform: translateX(-100%);
  transition: 0.5s all;
}
.catalog-item__content_active {
  transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  width: 50%;
  margin-left: 20px;
  padding-right: 20px;
  transform: translateX(0%);
  transition: 0.5s all;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.catalog-item__list_active {
  transform: translateX(-100%);
  margin-left: 0px;
}
.catalog-item__list li {
  position: relative;
  color: #555;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}
.catalog-item__list li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #c70101;
  left: -14px;
  top: 6px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(calc(-50% - 19px));
  display: block;
  color: #c70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}
.catalog-item__back:hover {
  color: #c70101;
}

.reviews {
  padding: 60px 0 60px 0;
}
.reviews-item {
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  margin-top: 80px;
}
.reviews-item__img {
  width: 169px;
  height: 169px;
  align-self: start;
}
.reviews-item__name {
  font-weight: 700;
  font-size: 18px;
}
.reviews-item__subname {
  color: #646464;
  font-size: 14px;
  font-weight: 500;
}
.reviews-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 20px;
}
.reviews-item__text br {
  margin-top: 20px;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  display: block;
  padding: 50px 68px 60px 68px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 230px;
  width: 460px;
  background-color: #c70101;
}
.footer__addr {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.footer__phone {
  color: var(--text-color);
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}
.footer__phone:hover {
  color: var(--text-color);
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 41px;
  line-height: 21px;
  color: #c70101;
  font-weight: 500;
  cursor: pointer;
}
.modal__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.modal__descr {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.modal_mini {
  min-height: 140px;
}

#consultation, #order, #thanks {
  display: none;
}/*# sourceMappingURL=style.css.map */