* {
    font-family: 'Open-Sans', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    position: absolute;
    right: 0;
 }
.container {
    max-width: 950px;
    margin: 0 auto;
}

.button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
        color: #fff;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
    &:hover {
        box-shadow: 0 0 6px 0 $main-color inset, 0 0 6px 4px $main-color;
    }
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #0d0d0d;
    &_left {
        color: #fff;
        font-size: 36px;
        text-transform: uppercase;
        text-align-last: left;
        line-height: 40px;
    }
}

iframe {
    width: 100%;
    height: 630px;
}